OVERPASS_URL=http://localhost:8080
NOMINATIM_URL=http://localhost:7070/api/interpreter
PHOTON_URL=''
OSM_BOUNDARIES_URL = ''
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=nominatim
